<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="fashion, daily, blog"/>
  <meta name="description" content="Daily content from your favorite fashion blogs.">
  <title>Fashion Fixx Daily</title>
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" />
</head>
<body>
  <center>
    <nav>
      <h3>FASHION FIXX DAILY</h3>
    </nav>
    <header id="home">
      <h1>FASHION FIXX DAILY</h1>
      <h2>Daily Content From Your Favorite Fashion Blogs</h2>
      <div class="icons">
        <div id="icon-one">
          </br></br></br></br></br>
          <span><a>Learn More</a></span>
        </div>

        <div id="outer-modal">
          <div id="inner-modal">
            <div class="terms-body">
    
    <div class="terms">
      <h4>About</h4>
      <p>Fashion Fixx Daily aims to drive traffic to the personal style blogs it features while creating a smooth and centralized user experience for readers. If a user is interested in learning more about the fashion featured on Fashion Fixx Daily, clicking the photograph will automatically redirect the user to the original blog page. Fashion Fixx Daily functions like an RSS feed, but keeps it simple by providing users with a short list of curated content.</p>
      
      <h4>People</h4>
      <p>Fashion Fixx Daily was created by <a href="http://twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a>.</p>

      <h4>Contact</h4>
      <p>Fashion Fixx Daily is interested in featuring emerging fashion and style bloggers. If you'd like your blog or a blog you love to be featured on Fashion Fixx Daily, please email fashionfixxdaily (at) gmail (dot) com.</p>

      <h4>Intellectual Property</h4>
      <p>Fashion Fixx Daily does not claim intellectual property rights to any photographs on this site. All photographs are the property of the original publisher, continue to live on the original publisher's server, and directly link to the page on which the photograph is published. Inappropriate use, including but not limited to reproduction or distribution of any content on this site is strictly prohibited by law, unless specifically authorized by this site and/or the owner of the property.</p>

      <h4>Govering Law</h4>
      <p>Use of this site and any dispute arising out of such use of the site is subject to the laws of the United States of America. Any action arising under the terms above or the use of this site shall be brought in Federal or State courts in the State of New York, and all persons expressly agree to be subject to the jurisdiction of such courts. This site does not give rise to personal jurisdiction in jurisdictions other than New York.</p>
      <a href="/">Home</a>
    </div>
  </div>
          </div>
        </div>

        <div id="icon-two">
          <img src="tower.png" height="180">
        </div>
        <div id="icon-three" class="email">
          </br></br></br></br></br>
          <span><a href="http://eepurl.com/YoRLT" target="_blank">Mailing List</a></span>               
        </div>
      </div>
      <div class="header-text">
        <p>Curated content from popular and emerging personal style blogs.</p>
        <p>Automatic updates anytime a blogger posts new content.</p>
        <p>See something you like? Simply click the image and you'll be redirected to the original blog page.</p>
      </div>
      <div class="social">
        <a href="http://facebook.com/FashionFixxDaily" target="_blank"><img src="facebook.png" height="50" id="facebook"></a>
        <a href="http://twitter.com/fashionfixxd" target="_blank"><img src="twitter.png" height="50" id="twitter"></a>
        <a href="http://instagram.com/fashionfixxd" target="_blank"><img src="instagram.png" height="50" id="instagram"></a>
      </div>
      <a href="#body"><img src="scroll.png" height="50"></a>
    </header>


<div class="body" id="body">
  <% @blogs.each do |key, value| %>
    <div class="blog">
      <%= value %>
    </div>
  <% end %>
</div>


      <div class="footer">
        <a href="#home">Home</a></br>
        <a href="/terms">About & Terms</a></br>
        <p>Copyright Fashion Fixx Daily 2014</p>
      </div>
    </div>
<!--     <div id="progress"></div>​ -->
  </center>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="scripts.js"></script>
  <script>
    // scroll to anchors element script
    $('a[href^="#"]').on('click', function(event) {
        var target = $( $(this).attr('href') );
        if( target.length ) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
    // initially hidden
    $('nav').hide();
    // nav bar fade in
    (function($) {
        $(document).ready(function(){

            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('nav').fadeIn(500);
                } else {
                    $('nav').fadeOut(500);
                }
            });
        });
    })(jQuery);
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52490175-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>

