<html>
<head>
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <center>
    <a href="/">Home</a>
  </center>
</body>
</html>