@import url('http://fonts.googleapis.com/css?family=Special+Elite');
@import url('http://fonts.googleapis.com/css?family=Carme');
@import url('http://fonts.googleapis.com/css?family=Marcellus');
@import url('http://fonts.googleapis.com/css?family=Julius Sans One');
@import url('http://fonts.googleapis.com/css?family=Courgette');
@import url('http://fonts.googleapis.com/css?family=Dancing+Script');



/*page header*/
h1 {
  font-size: 100px;
  font-family: 'Julius Sans One';
  color: #FB2875;
  margin-top: 10px;
  margin-bottom: 0em;
}

/*header text*/
h2 {
  font-family: 'Julius Sans One';
  font-size: 30px;
  margin-top: 0px;
}

h2 span {
  font-family: 'Courgette';
  font-size: 15px;
  color: #FB2875;
}

.header-text {
  width: 1200px;
  /*background: #FB2875;*/
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-text p {
  font-family: 'Marcellus';
  font-size: 20px;
  margin: 5px;
}

.body {
  width: 1200px;
  margin-right: 20px;
  margin-left: 20px;
}

/*blog links*/
a,
a:visited {
  text-decoration: none;
  color: black;
  font-size: 60px;
  font-family: 'Dancing Script';
  transition-duration: .5s;
}

a:hover {
  color: #FB2875;
  transition-property: color;
  transition-duration: .5s;
}

/*terms and mail links*/
span a,
span a:visited {
  font-family: 'Marcellus';
  font-size: 20px;
  margin-top: 30px;
  color: white;
}

span a:hover {
  color: #FB2875;
}

header {
  height: 700px;
  width: 1200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  margin: 20px;
}

p {
  font-family: 'Marcellus';
}

.blog {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  background-color: white;
  padding-top: 5px;
}

.blog img {
  height: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

.blog-social img {
  height: 50px;
  border: 0px;
  transition-duration: .5s;
}

.social img {
  border-radius: 5px;
  transition-duration: .5s;
}

.blog-social img:hover, 
.social img:hover {
  background: #FB2875;
  transition-property: background;
  transition-duration: .5s;
}

.terms-body {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  margin: 20px;
  padding: 10px;
  max-width: 1300px;
}

.icons {
  width: 1200px;
  height: 200px;
}

#icon-one,
#icon-two,
#icon-three {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  float: left;
}

#icon-one {
  /*margin-left: 240px;*/
  margin-left: 290px;
}

#icon-two,
#icon-three {
  margin-left: 10px;
}

#icon-two {
  background: #FB2875;
}

#icon-one,
#icon-three {
  background: black;
}

.terms p {
  font-family: 'Marcellus';
  font-size: 17px;
}

.terms h4,
.terms a {
  font-family: 'Julius Sans One';
  font-size: 19px;
  margin: 10px;
  color: #FB2875;
}

.terms p a {
  font-size: 15px;
  margin: 0em;
}

.social {
  max-width: 1200px;
}

.terms a:hover {
  color: black;
}

.email p,
.email a {
  font-size: 20px;
  margin: 20px;
}

.email p {
  color: white;
}

.email a,
.email a:visited {
  color: white;
  font-family: 'Marcellus';
}

.email a:hover {
  color: #FB2875;
}

.footer a,
.footer a:visited {
  color: #FB2875;
  font-family: 'Julius Sans One';
  font-size: 20px;
}

.footer a:hover {
  color: black;
}





